<!DOCTYPE html>
<html lang="en">
<head>
    {% comment %} <link rel="stylesheet" href="style.css"> {% endcomment %}
    <title>{% block title %}Base template{% endblock %}</title>
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        {% comment %} <p>This is present in all pages<p> {% endcomment %}
        <a href="{% url 'dashboard' %}"><button>Home</button></a>
        <a href="#"><button>Explore</button></a>
        <a href="{% url 'problist' %}"><button>Problems</button></a>
        <a href="#"><button>Contest</button></a>
        <a href="#"><button>Discuss</button></a>
        {% if user.is_authenticated %}
        <a href="{% url 'logout-user' %}"><button>Logout</button></a>
        <a href="{% url 'profile' %}"><button>Profile</button></a>
        <b>{{ user.username }}</b>
        {% else %}
        <a href="{% url 'login-user' %}"><button>Login</button></a>
        {% endif %}
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>