{% extends "base.html" %}

{% block title %}Problem Details{% endblock %}

{% block content %}
    <h1>{{ problem.name }}</h1>
    <p><i>-Contributed by <b>{{ problem.written_by }}</b></i><p>
    {% if user.is_authenticated %}
    {% if user.profile.role == 'staff' %}
        {% if user == problem.written_by %}
            <a href="{% url 'update-problem' problem.pk %}"><button>Update</button></a>
            <a href="{% url 'delete-problem' problem.pk %}"><button>Delete</button></a>
        {% endif %}
        <a href="{% url "testcase-list" problem.pk %}"><button>View Test Cases</button></a>
        <a href="{% url "add-testcase" problem.pk %}"><button>Contribute Test Case</button></a>
    {% endif %}
    {% endif %}
        <p>{{ problem.statement }}<p>
    <a href="{% url "mysolutions-list" problem.pk %}"><button>View My Solutions</button></a>
    <a href="{% url "solution-list" problem.pk %}"><button>View Solutions</button></a>
    <form method="POST" action="{% url "add-solution" problem.pk %}">
        {% csrf_token %}
        {{ form }}
        <button type="button">Run</button>
        <button type="submit">Submit</button>
    </form>
    {% if problem.testcases %}
        <h2>Sample test cases</h2>
        <ul>
        {% for tc in problem.testcases.all %}
            {% if tc.is_sample %}
                <li>
                    <h3>Input</h3>
                    {{ tc.input }}
                    <h3>Output</h3>
                    {{ tc.output }}
                </li>
            {% endif %}
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}