{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
      <!-- Registration form -->
      <form
        method="post"
        enctype="multipart/form-data"
      >
        {% csrf_token %}
        <!-- CSRF token for security -->

        <!-- Registration form heading -->
        <h1 style="text-align: center">
          <span style="color: green">Online Judge</span>
        </h1>
        <h3>Register</h3>
        <hr />

        <!-- Display error/success messages -->
        {% if messages %}
        <div role="alert">
          {% for message in messages %} {{ message }} {% endfor %}
        </div>
        {% endif %}

        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register</button>
      </form>
{% endblock %}