{% extends "base.html" %}

{% block title %}Test Cases List{% endblock %}

{% block content %}
    <h1>Test Cases</h1> 
    {% comment %} <a href="{% url 'add-problem' %}"><button>Contribute</button></a> {% endcomment %}
    {% if messages %}
        <div role="alert">
          {% for message in messages %} {{ message }} {% endfor %}
        </div>
        {% endif %}
    <ul>
    {% for tc in cases %}
        <li>
            <p>{{ tc.input }}</p>
            <p>{{ tc.output }}</p>
            {% if user == tc.written_by %}
                <a href="{% url "update-testcase" tc.problem.pk tc.pk %}"><button>Update</button></a>
                <a href="{% url "delete-testcase" tc.problem.pk tc.pk %}"><button>Delete</button></a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endblock %}